<div class="container-fluid">
  <h3>this is alist of all avail recipes</h3>
  <div *ngFor="let recipe of recipes" class="recipe card" style="margin-top: 10px;">
    <h5 class="card-header">{{ recipe.title }}</h5>
    <div class="card-body">
      <div style="float: right" class="image-style">
        <img src="{{ this.recipe.cover_photo ? this.recipe.cover_photo : '/assets/default_food.jpg' }}"/>
      </div>
      <p>
        {{ recipe.description }}
      </p>
    </div>
  </div>
</div>
